* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.hero{
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
}

.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a, .subtext{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 400px;
}

.hero-text{
    width: 455px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-image{
    width: 455px;
    height: 250px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.button1{
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.random-info{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-container{
    display: flex;
    gap: 50px;
}

.ri-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    gap: 10px;
}

.ri-image{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.ri-description{
    color: grey;
    text-align: center;
}

.quote{
    min-height: 500px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container{
    padding-left: 270px;
    padding-right: 270px;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author{
    text-align: right;
    color: #1f2937;
    font-weight: 900;
    font-size: 24px;
}

.sign-up{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container{
    height: 150px;
    width: 65%;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.call-to{
    color: #f9faf8;
    font-size: 22px;
    font-weight: 700;
}

.signup-button{
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #f9faf8;
}

.footer{
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: #f9faf8;
}